{% extends 'base.html.twig' %}

{% block title %}Upcoming Events{% endblock %}
{% block hero %}
     {{ parent() }}  
     <h1 class="text-center my-5 text-white fs-1">Upcoming Events</h1>     
{% endblock %}
{% block body %}
    <form method="get" action="{{ path('app_events_filter') }}" class="text-center text-white">
        <label for="eventType" >Filter by Event Type:</label>
        <select id="eventType" name="eventType" class="btn btn-light">
            <option value="">All</option>
            <option value="Music">Music</option>
            <option value="Sport">Sport</option>
            <option value="Movie">Movie</option>
            <option value="Theater">Theater</option>
        </select>
        <button type="submit" class="btn btn-light">Apply Filter</button>
    </form>
    <div class="container">
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 gap-4">
        {% for event in events %}
            <div class="card bg-dark text-white  mt-5 mb-5 shadow align-items-center" style="width: 18rem;">
                <img src="{{ event.image }}" class="card-img-top imageCard mt-3" alt="Event Image" >
                <div class="card-body">
                    <h5 class="card-title text-center">{{ event.name }}</h5>
                </div>
                <ul class="list-group list-group-flush testG ">
                    <li class="list-group-item bg-dark text-white myli"><b>Date and Time:</b> <br>{{ event.dateNTime ? event.dateNTime|date('D, d/m/Y @ H:i A') : '' }}</li>
                    <li class="list-group-item bg-dark text-white" ><b>Address: </b><br>{{ event.address }}</li>
                    <li class="list-group-item bg-dark text-white"><b>Event Type: </b><br>{{ event.type }}</li>
                    <li class="list-group-item bg-dark text-white"><b>Event Url: </b><br>{{ event.url }}</li>
                </ul>
                <div class="card-body text-center">
                    <a href="{{ path('app_events_show', {'id': event.id}) }}" class="card-link  text-decoration-none btn btn-light text-black w-5 px-2">Details</a>
                    <a href="{{ path('app_events_edit', {'id': event.id}) }}" class="card-link  text-decoration-none btn btn-light text-black px-3">Edit</a>
                </div>
            </div>
       {% else %}
                <tr>
                    <td colspan="12">no records found</td>
                </tr>
        {% endfor %}
        </div>
    
        
    </div>
    
{% endblock %}
