{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
    <h1>Events</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <th>DateNTime</th>
                <td>{{ event.dateNTime ? event.dateNTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ event.image }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ event.capacity }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ event.email }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ event.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ event.address }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ event.url }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ event.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_events_index') }}">back to list</a>

    <a href="{{ path('app_events_edit', {'id': event.id}) }}">edit</a>

    {{ include('events/_delete_form.html.twig') }}
{% endblock %}
